<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Continent</td>
            <td>Population</td>
            <td>Capital</td>
            <td>Surface</td>
            <td>Visitors Age</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let statistic of statistics; let i = index">
            <td>{{i+1}}</td>
            <td>{{statistic.name}}</td>
            <td>{{statistic.continent}}</td>
            <td>{{statistic.population}}</td>
            <td>{{statistic.capital}}</td>
            <td>{{statistic.surface}}</td>
            <td>{{statistic.visitorsAge}}</td>
        </tr>
    </tbody>
</table>